<div class="comment-item">
    <div class="mod-head">
        <a class="aw-user-img aw-border-radius-5 pull-right" href="#">
            <img src="#">
        </a>
        <div class="title">
            <p>
                <a class="aw-user-name" href="#">用户名</a>
            </p>
        </div>
    </div>
    <div class="mod-body clearfix">
        <div class="markitup-box">
            二级留言的内容
        </div>
    </div>
    <div class="mod-footer">
        <span class="text-color-999 pull-right">二级分类的时间</span>
        <span class="operate">
            <a class="agree">
                <i class="fa fa-thumbs-o-up"></i>
                <b class="count">0</b>
            </a>
        </span>
        <span class="operate">
            <a href="javascript:void(0)" class="aw-add-comment  comment_btn">
                <i class="fa fa-commenting-o"></i>
                回复
            </a>
        </span>
    </div>
</div>
<!--二级回复的统一提交的表单-->
<div class="newContent"></div>
<!--分页的地方-->
