<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <div class="aw-mod aw-user-detail-box">
                        <div class="mod-head">
                            <img src="/images/default-avatar.jpg">
                            <span class="pull-right operate">
                                <a href="#" class="follow btn btn-normal btn-success">
                                    <span>关注</span>
                                    <em>|</em>
                                    <b>0</b>
                                </a>
                            </span>
                            <h1>李志远</h1>
                            <p class="text-color-999">想说点什么吧。。。</p>
                            <p class="aw-user-flag"></p>
                        </div>
                        <div class="mod-body">
                            <div class="meta">
                                <span>
                                    <i class="fa fa-bar-chart-o"></i>
                                    积分:
                                    <em class="aw-text-color-orange">1980</em>
                                </span>
                                <span>
                                    <i class="fa fa-thumbs-o-up"></i>
                                    赞同:
                                    <em class="aw-text-color-orange">0</em>
                                </span>
                                <span>
                                    <i class="fa fa-heart-o"></i>
                                    感谢:
                                    <em class="aw-text-color-orange">10</em>
                                </span>
                            </div>
                        </div>
                        <div class="mod-footer">
                            <!--暂时不写-->
                        </div>
                    </div>
                    <div class="aw-user-center-tab">
                        <div class="tab-content">
                            <div class="tab-pane active">
                                <!--回复-->
                                <div class="aw-mod">
                                    <div class="mod-head">
                                        <h3>
                                            回复
                                        </h3>
                                    </div>
                                    <div class="mod-body">
                                        <div class="aw-profile-answer-list">
                                            <div class="aw-item">
                                                <div class="mod-head">
                                                    <h4>
                                                        <a href="#">[已经解决，里面有解决代码]登录框注册框的问题，打开登录框，在登录框的板面上点击去注册，打开注册框，但登录框依然在，没有关闭掉</a>
                                                    </h4>
                                                </div>
                                                <div class="mod-body">
                                                    <span class="aw-border-radius-5 count pull-left">
                                                        <i class="fa fa-thumbs-o-up"></i> 5
                                                    </span>
                                                    <p class="text-color-999">
                                                        一位群里的热心朋友帮我解决了，就有加了一小段代码`&lt;script&gt;
                                                        $('.aaaaa').on('click',function(){
                                                        $("#modal-1").removeClass("md-show"...
                                                    </p>
                                                    <p class="text-color-999">3 天前</p>
                                                </div>
                                                <div class="mod-footer">
                                                    <!-- 加载更多内容 -->
                                                    <a class="aw-load-more-content" id="bp_user_actions_answers_more" data-page="1">
                                                        <span>更多</span>
                                                    </a>
                                                    <!-- end 加载更多内容 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--回复-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 aw-side-bar">
                    <div class="aw-mod people-following">
                        <a class="pull-right font-size-12">更多</a>
                        <span>
                            关注
                            <em class="aw-text-color-orange">2</em>人
                        </span>
                        <p>
                            <a class="aw-user-name" href="#"><img src="/images/avatar-mid-img.png"></a>
                        </p>
                    </div>
                    <div class="aw-mod people-following">
                        <div class="mod-body">
                            <a class="pull-right font-size-12">更多</a>
                            <span>
                                被<em class="aw-text-color-green">2</em>人关注
                            </span>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>