<div class="aw-container-wrap" ng-app="settingApp" ng-controller="settingController">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="aw-user-setting">
                    <!--导航-->
                    <div class="">
                        <ul class="nav nav-tabs aw-nav-tabs active">
                            <h2>
                                <i class="fa fa-cog"></i>&nbsp;用户设置
                            </h2>
                        </ul>
                    </div>
                    <!--修改内容-->
                    <div class="tab-content clearfix" style="padding-bottom:150px">
                        <div class="aw-mod">
                            <div class="mod-body">
                                <!--基本信息-->
                                <form name="uploadForm" ng-submit="updateUser()">
                                    <div class="aw-mod mod-base">
                                        <div class="mod-head">
                                            <h3>基本信息</h3>
                                        </div>
                                        <div class="mod-body">
                                            <dl>
                                                <dt>账号:</dt>
                                                <dd><%= userInfo.name %></dd>
                                            </dl>
                                            <dl>
                                                <dt>邮箱:</dt>
                                                <dd><%= userInfo.email %></dd>
                                            </dl>
                                            <dl>
                                                <dt><label>个性签名:</label></dt>
                                                <dd class="introduce">
                                                   <textarea target="<%= userInfo.motto %>" name="motto" rows="3" cols="40" ng-model="formData.motto" required style="padding:10px">

                                                   </textarea>
                                                    <label ng-cloak for="inputError" class="control-label text-danger" ng-show="uploadForm.motto.$invalid && !myForm.motto.$pristine">
                                                        <i class="glyphicon glyphicon-info-sign"></i>请填写正确的介绍
                                                    </label>
                                                </dd>
                                            </dl>
                                            <div class="side-bar">
                                                <dl>
                                                    <dt class="pull-left">
                                                        <img id="userLogo" target="<%= userInfo.avatar %>" class="aw-border-radius-5" ng-src="{{formData.avatar}}">
                                                    </dt>
                                                    <dd class="pull-left">
                                                        <h5>头像设置</h5>
                                                        <p>支持jpg、gif、png等格式的图片(其他的图片格式不支持)</p>
                                                        <span class="btn btn-success fileinput-button">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                            <span>上传头像</span>
                                                            <input id="fileupload" type="file" name="file" multiple>
                                                            <div id="files" class="files"></div>
                                                        </span>
                                                        <div id="progress" class="progress" style="margin-top:20px;">
                                                            <div class="progress-bar progress-bar-success"></div>
                                                        </div>
                                                    </dd>
                                                </dl>
                                            </div>
                                        </div>
                                        <div class="mod-footer clearfix">
                                            <input type="submit" ng-disabled="uploadForm.$invalid" class="btn btn-large btn-success text-center">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/plugins/file-upload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="/plugins/file-upload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/plugins/file-upload/js/jquery.fileupload.js"></script>
<link rel="stylesheet" href="/plugins/file-upload/css/jquery.fileupload.css">
<script>
    $('#fileupload').fileupload({
        url: '/uploadImage',
        dataType: 'json',
        done: function (e, data) {
            console.log(data.file);
            $('<p/>').text(data.file.name).appendTo('#files');
        },
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    }).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
</script>