<div class="aw-container-wrap">
    <div class="container">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <div class="aw-mod">
                        <div class="mod-head common-head">
                            <h2>
                                <i class="fa fa-user-circle-o"></i>
                                用户列表
                            </h2>
                        </div>
                        <div class="mod-body aw-people-list">
                            <div class="aw-item">
                                <!--ID-->
                                <span class="aw-user-sort-count aw-border-radius-5 active">
                                    <i class="fa fa-bookmark"></i>
                                    <em></em>
                                </span>
                                <!--个人头像-->
                                <a class="aw-user-img aw-border-radius-5">
                                    <img src="/images/avatar-mid-img.png">
                                </a>
                                <!--用户名-->
                                <p class="text-color-999">
                                    <a href="#" class="aw-user-name">李志远</a>
                                </p>
                                <!--积分-->
                                <div class="meta">
                                    <span>
                                        <i class="fa fa-bar-chart-o"></i>
                                        积分<b>115</b>
                                    </span>
                                    <span>
                                        <i class="fa fa-thumbs-o-up"></i>
                                        点赞<b>110</b>
                                    </span>
                                    <span>
                                        <i class="fa fa-heart-o"></i>
                                        感谢<b>50</b>
                                    </span>
                                </div>
                                <!--关注-->
                                <div class="operate">
                                    <a href="#" class="follow btn btn-normal btn-success">
                                        <span>关注</span>
                                        <em>|</em>
                                        <b>22</b>
                                    </a>
                                </div>
                                <!--个性签名-->
                                <p>
                                    个性签名:这家伙很懒，什么都没有留下...
                                </p>
                            </div>
                            <div class="aw-item">
                                <!--ID-->
                                <span class="aw-user-sort-count aw-border-radius-5 active">
                                    <i class="fa fa-bookmark"></i>
                                    <em></em>
                                </span>
                                <!--个人头像-->
                                <a class="aw-user-img aw-border-radius-5">
                                    <img src="/images/avatar-mid-img.png">
                                </a>
                                <!--用户名-->
                                <p class="text-color-999">
                                    <a href="#" class="aw-user-name">李志远</a>
                                </p>
                                <!--积分-->
                                <div class="meta">
                                    <span>
                                        <i class="fa fa-bar-chart-o"></i>
                                        积分<b>115</b>
                                    </span>
                                    <span>
                                        <i class="fa fa-thumbs-o-up"></i>
                                        点赞<b>110</b>
                                    </span>
                                    <span>
                                        <i class="fa fa-heart-o"></i>
                                        感谢<b>50</b>
                                    </span>
                                </div>
                                <!--关注-->
                                <div class="operate">
                                    <a href="#" class="follow btn btn-normal btn-success">
                                        <span>关注</span>
                                        <em>|</em>
                                        <b>22</b>
                                    </a>
                                </div>
                                <!--个性签名-->
                                <p>
                                    个性签名:这家伙很懒，什么都没有留下...
                                </p>
                            </div>
                            <div class="aw-item">
                                <!--ID-->
                                <span class="aw-user-sort-count aw-border-radius-5 active">
                                    <i class="fa fa-bookmark"></i>
                                    <em></em>
                                </span>
                                <!--个人头像-->
                                <a class="aw-user-img aw-border-radius-5">
                                    <img src="/images/avatar-mid-img.png">
                                </a>
                                <!--用户名-->
                                <p class="text-color-999">
                                    <a href="#" class="aw-user-name">李志远</a>
                                </p>
                                <!--积分-->
                                <div class="meta">
                                    <span>
                                        <i class="fa fa-bar-chart-o"></i>
                                        积分<b>115</b>
                                    </span>
                                    <span>
                                        <i class="fa fa-thumbs-o-up"></i>
                                        点赞<b>110</b>
                                    </span>
                                    <span>
                                        <i class="fa fa-heart-o"></i>
                                        感谢<b>50</b>
                                    </span>
                                </div>
                                <!--关注-->
                                <div class="operate">
                                    <a href="#" class="follow btn btn-normal btn-success">
                                        <span>关注</span>
                                        <em>|</em>
                                        <b>22</b>
                                    </a>
                                </div>
                                <!--个性签名-->
                                <p>
                                    个性签名:这家伙很懒，什么都没有留下...
                                </p>
                            </div>
                            <div class="aw-item">
                                <!--ID-->
                                <span class="aw-user-sort-count aw-border-radius-5 active">
                                    <i class="fa fa-bookmark"></i>
                                    <em></em>
                                </span>
                                <!--个人头像-->
                                <a class="aw-user-img aw-border-radius-5">
                                    <img src="/images/avatar-mid-img.png">
                                </a>
                                <!--用户名-->
                                <p class="text-color-999">
                                    <a href="#" class="aw-user-name">李志远</a>
                                </p>
                                <!--积分-->
                                <div class="meta">
                                    <span>
                                        <i class="fa fa-bar-chart-o"></i>
                                        积分<b>115</b>
                                    </span>
                                    <span>
                                        <i class="fa fa-thumbs-o-up"></i>
                                        点赞<b>110</b>
                                    </span>
                                    <span>
                                        <i class="fa fa-heart-o"></i>
                                        感谢<b>50</b>
                                    </span>
                                </div>
                                <!--关注-->
                                <div class="operate">
                                    <a href="#" class="follow btn btn-normal btn-success">
                                        <span>关注</span>
                                        <em>|</em>
                                        <b>22</b>
                                    </a>
                                </div>
                                <!--个性签名-->
                                <p>
                                    个性签名:这家伙很懒，什么都没有留下...
                                </p>
                            </div>
                            <div class="page-control">
                                <ul class="pagination pull-right">
                                    <li class="active">
                                        <a href="#">1</a>
                                    </li>
                                    <li>
                                        <a href="#">2</a>
                                    </li>
                                    <li>
                                        <a href="#">3</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs hidden-sm active">
                    <div class="aw-mod side-nav">
                        <div class="mod-body"></div>
                    </div>
                    <div class="aw-mod side-nav">
                        <div class="mod-body">
                            <ul></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
