<!--<div align="center" class="aw-padding10">暂无评论</div>-->
<div class="comment-item">
    <div class="mod-head">
        <a class="aw-user-img aw-border-radius-5 pull-right" href="#">
            <img src="/images/avatar-mid-img.png">
        </a>
        <div class="title">
            <p>
                <a class="aw-user-name" href="#">李志远</a>
            </p>
        </div>
    </div>
    <div class="mod-body clearfix">
        <div class="markitup-box">
            有人说我是骗访问量，澄清一下，我是自己测试时发现的现象，并没有主动骗访问量
        </div>
    </div>
    <div class="mod-footer">
        <span class="text-color-999 pull-right">22天前</span>
        <span class="operate">
            <a class="agree">
                <i class="fa fa-thumbs-o-up"></i>
                <b class="count">0</b>
            </a>
        </span>
        <span class="operate">
            <a href="javascript:void(0)" class="aw-add-comment  comment_btn">
                <i class="fa fa-commenting-o"></i>
                回复
            </a>
        </span>
    </div>
</div>
<!--二级回复的统一提交的表单-->
<div id="newContent"></div>
<form class="reply2_form" target="/<%= article._id %>/comment" name="reply2_form" ng-submit="postForm($event)">
    <input type="hidden" name="reply_id" value="<%= reply._id %>">
    <input type="hidden" name="reply_author_id" value="<%= reply.author._id %>">
    <div class="aw-comment-box-main">
        <textarea class="reply_editor editor" name="comment_content"></textarea>
        <div class="aw-comment-box-btn" style="display: block;">
            <span class="pull-right">
                <input type="submit" class="btn btn-mini btn-success" value="评论">
            </span>
        </div>
    </div>
</form>