<div class="comment-item" ng-show="comments.length > 0" ng-repeat="comment in comments">
    <div class="mod-head">
        <a class="aw-user-img aw-border-radius-5 pull-right" href="/user/{{comment.author_id.name}}">
            <img src="{{comment.author_id.avatar}}">
        </a>
        <div class="title">
            <p>
                <a class="aw-user-name" href="/user/{{comment.author_id.name}}">{{comment.author_id.name}}</a>
            </p>
        </div>
    </div>
    <div class="mod-body clearfix">
        <div class="markitup-box" ng-bind-html="comment.content|to_html">
        </div>
    </div>
    <div class="mod-footer">
        <span class="text-color-999 pull-right">{{comment.create_time|format}}</span>
        <span class="operate">
            <a class="agree">
                <i class="fa fa-thumbs-o-up"></i>
                <b class="count">0</b>
            </a>
        </span>
        <span class="operate">
            <a href="javascript:void(0)" class="aw-add-comment  comment_btn">
                <i class="fa fa-commenting-o"></i>
                回复
            </a>
        </span>
    </div>
</div>
<!--二级回复的统一提交的表单-->
<div class="newContent"></div>
<!--分页的地方-->
<form class="reply2_form" target="/<%= article._id %>/comment" name="reply2_form" ng-submit="postForm($event)">
    <input type="hidden" name="reply_id" value="<%= reply._id %>">
    <input type="hidden" name="reply_author_id" value="<%= reply.author._id %>">
    <div class="aw-comment-box-main">
        <textarea class="reply_editor editor" name="comment_content"></textarea>
        <div class="aw-comment-box-btn" style="display: block;">
            <span class="pull-right">
                <input type="submit" class="btn btn-mini btn-success" value="评论">
            </span>
        </div>
    </div>
</form>